<h2>Reset Password</h2>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
  <label for="newPassword">New Password:</label>
  <input id="newPassword" [type]="showPassword ? 'text' : 'password'" formControlName="newPassword">
  <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
    Password must be 8-16 characters long, with at least one capital letter and one special character.
  </div>

  <label for="confirmPassword">Confirm Password:</label>
  <input id="confirmPassword" [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword">
  <div *ngIf="resetPasswordForm.errors?.['mismatch'] && (resetPasswordForm.get('confirmPassword')?.touched || resetPasswordForm.get('newPassword')?.touched)">
    Passwords do not match
  </div>

  <div class="password-options">
    <label>
      <input type="checkbox" (change)="toggleShowPassword()" /> Show Password
    </label>
  </div>
  <div class="button-group">
    <button type="button" (click)="onBack()" class="back-button">Back</button>
    <button type="submit" class="reset-button">Reset Password</button>
  </div>
</form>
